<!-- Header -->
<div class="relative bg-red-600 md:pt-32 pb-32 pt-12">
  <div class="px-4 md:px-10 mx-auto w-full">
    <div>
      <!-- Card stats -->
      <div class="flex flex-wrap">
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <app-card-stats
            statSubtitle="Daily Transaction Volume"
            statTitle="2,342"
            statArrow="up"
            statPercent="3.48"
            statPercentColor="text-green-500"
            statDescripiron="Since last month"
            statIconName="far fa-chart-bar"
           
          ></app-card-stats>
        </div>
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <app-card-stats
            statSubtitle="Daily Transactions Value"
            statTitle="₦4,000,000"
            statArrow="down"
            statPercent="3.48"
            statPercentColor="text-red-500"
            statDescripiron="Since last week"
            statIconName="fas fa-chart-pie"
            statIconColor="bg-orange-500"
          ></app-card-stats>
        </div>
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <app-card-stats
            statSubtitle="Total Transaction Volume"
            statTitle="452,000"
            statArrow="down"
            statPercent="1.10"
            statPercentColor="text-orange-500"
            statDescripiron="Since yesterday"
            statIconName="fas fa-hand-holding-usd"
            statIconColor="bg-pink-500"
          ></app-card-stats>
        </div>
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <app-card-stats
            statSubtitle="Total Transaction Value"
            statTitle="₦4,000,000"
            statArrow="up"
            statPercent="12"
            statPercentColor="text-green-500"
            statDescripiron="Since last month"
            statIconName="fas fa-money-bill-alt"
            statIconColor="bg-green-500"
          ></app-card-stats>
        </div>
      </div>
    </div>
  </div>
</div>
